*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.layout-item{
    max-width: 100%;
    height:200px;
}
.layout{
    padding:36px;
    display: grid;
    grid-gap:36px;
    grid-template-columns: repeat(auto-fit, minmax(293px,1fr));
}