*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
.layout-item_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.layout-item{
    max-width:100%;
    max-height:100%;
}
.layout{
    padding :30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 100px 350px;
    gap:30px 30px   
}
.layout-item:first-child{
    grid-column:1/3;
    grid-row:1/2 ;
}
.layout-item:nth-child(2),
.layout-item:nth-child(3){
    grid-row: 1/3;
}
.layout-item:nth-child(4),
.layout-item:nth-child(5){
    grid-row: 2/4;
}
.layout-item:last-child{
    grid-column: 3/5;
    grid-row:3/4;
}